<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
       <nav>
  <ul>
    <li><a class="active" href="/">Home</a></li>
   
    <li><a href="/api/movies/insert">Add Movie</a></li>
    <li><a href="/api/Moviesh">Search Movie</a></li>
    <li><a href="/api/allmovies">All Movies</a></li>
        <li><a href="/logout">Logout</a></li>

   

    
    
     
  </ul>
</nav>
    </header>

    <main>
            
    {{{body}}}
    </main>
    <footer>
        Movies.123@.ca
    </footer>
  </body>
</html>